{{- $nimLlm := index .Values.nimOperator "nim-llm" -}}
{{- if and (.Capabilities.APIVersions.Has "apps.nvidia.com/v1alpha1") (eq $nimLlm.enabled true) }}
apiVersion: apps.nvidia.com/v1alpha1
kind: NIMCache
metadata:
  name: {{ $nimLlm.service.name }}-cache
  annotations:
    helm.sh/resource-policy: keep
spec:
  source:
    ngc:
      modelPuller: "{{ $nimLlm.image.repository }}:{{ $nimLlm.image.tag }}"
      pullSecret: {{ .Values.imagePullSecret.name }}
      authSecret: {{ .Values.ngcApiSecret.name }}
      model:
{{ toYaml $nimLlm.model | nindent 8 }}
  storage:
    pvc:
      create: {{ $nimLlm.storage.pvc.create | default true }}
      {{- if $nimLlm.storage.pvc.storageClass }}
      storageClass: {{ $nimLlm.storage.pvc.storageClass }}
      {{- end }}
      size: {{ $nimLlm.storage.pvc.size | default "120Gi" }}
      volumeAccessMode: {{ $nimLlm.storage.pvc.volumeAccessMode | default "ReadWriteMany" }}
  resources: {}
---
apiVersion: apps.nvidia.com/v1alpha1
kind: NIMService
metadata:
  name: {{ $nimLlm.service.name }}
spec:
  image:
    repository: {{ $nimLlm.image.repository }}
    tag: {{ $nimLlm.image.tag }}
    pullPolicy: {{ $nimLlm.image.pullPolicy | default "IfNotPresent" }}
    pullSecrets:
      - {{ .Values.imagePullSecret.name }}
  authSecret: {{ .Values.ngcApiSecret.name }}
  storage:
    nimCache:
      name: {{ $nimLlm.service.name }}-cache
    sharedMemorySizeLimit: {{ $nimLlm.storage.sharedMemorySizeLimit | default "16Gi" }}
  env:
{{ toYaml $nimLlm.env | nindent 4 }}
  replicas: {{ $nimLlm.replicas | default 1 }}
  nodeSelector:
{{ toYaml $nimLlm.nodeSelector | nindent 4 }}
{{- if .Values.nimOperator.draResources.enabled }}
  draResources:
{{ toYaml $nimLlm.draResources | nindent 4 }}
{{- end }}
{{- if not .Values.nimOperator.draResources.enabled }}
  resources:
{{ toYaml $nimLlm.resources | nindent 4 }}
{{- end }}
  expose:
{{ toYaml $nimLlm.expose | nindent 4 }}
{{- end }}