apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-mig-config
data:
  config.yaml: |
    version: v1
    mig-configs:
      all-disabled:
        - devices: all
          mig-enabled: false
      
      custom-7x1g10-2x1g20-1x3g40-1x7g80:
        - devices: [0]
          mig-enabled: true
          mig-devices:
            "1g.10gb": 7
        - devices: [1]
          mig-enabled: true
          mig-devices:
            "1g.20gb": 2
            "3g.40gb": 1
        - devices: [3]
          mig-enabled: true
          mig-devices:
            "7g.80gb": 1