

# Ingestor Server
ingestor-server:
  envVars:
    NV_INGEST_FILES_PER_BATCH: "4"
    NV_INGEST_CONCURRENT_BATCHES: "1"

nimOperator:
  draResources:
    enabled: false
    name: "rag-claim"
    type: "Mig"
  nim-llm:
    resources:
      limits:
        nvidia.com/mig-7g.80gb: 1
        nvidia.com/gpu: 0
      requests:
        nvidia.com/gpu: 0
        nvidia.com/mig-7g.80gb: 1
  nvidia-nim-llama-32-nv-embedqa-1b-v2:
    resources:
      limits:
        nvidia.com/mig-2g.20gb: 1
        nvidia.com/gpu: 0
      requests:
        nvidia.com/mig-2g.20gb: 1
        nvidia.com/gpu: 0
  nvidia-nim-llama-32-nv-rerankqa-1b-v2:
    resources:
      limits:
        nvidia.com/mig-2g.20gb: 1
        nvidia.com/gpu: 0
      requests:
        nvidia.com/mig-2g.20gb: 1
        nvidia.com/gpu: 0
nv-ingest:
  nimOperator:
    draResources:
      enabled: false
      name: "nvingest-claim"
    embedqa:
      enabled: false
    page_elements:
      resources:
        limits:
          nvidia.com/mig-2g.20gb: 1
          nvidia.com/gpu: 0
        requests:
          nvidia.com/mig-2g.20gb: 1
          nvidia.com/gpu: 0
    graphic_elements:
      resources:
        limits:
          nvidia.com/mig-2g.20gb: 1
          nvidia.com/gpu: 0
        requests:
          nvidia.com/mig-2g.20gb: 1
          nvidia.com/gpu: 0
    table_structure:
      resources:
        limits:
          nvidia.com/mig-2g.20gb: 1
          nvidia.com/gpu: 0
        requests:
          nvidia.com/mig-2g.20gb: 1
          nvidia.com/gpu: 0
    nemoretriever_ocr_v1:
      resources:
        limits:
          nvidia.com/mig-2g.20gb: 1
          nvidia.com/gpu: 0
        requests:
          nvidia.com/mig-2g.20gb: 1
          nvidia.com/gpu: 0
      env:
        - name: NIM_TRITON_CUDA_MEMORY_POOL_MB
          value: "4096"
        - name: NIM_TRITON_MAX_BATCH_SIZE
          value: "16"
  envVars:
    CUDA_VISIBLE_DEVICES: "1"
    NV_INGEST_MAX_UTIL: 8
    MAX_INGEST_PROCESS_WORKERS: 2
  resources:
    limits:
      nvidia.com/mig-2g.20gb: 1
      nvidia.com/gpu: 0
    requests:
      nvidia.com/mig-2g.20gb: 1
      nvidia.com/gpu: 0
  milvus:
    image:
      all:
        repository: milvusdb/milvus
        tag: v2.6.5-gpu
    standalone:
      resources:
        limits:
          nvidia.com/gpu: 0
          nvidia.com/mig-2g.20gb: 1
        requests:
          nvidia.com/mig-2g.20gb: 1
          nvidia.com/gpu: 0
